<!DOCTYPE html>
<html>
  <head>
    <title>직업능력심사평가원</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div  class="mobile-main-top visible-xs">
      <!-- <div class="mobile-nav-deco"></div> -->
      <div class="mobile-nav-top-menu">
          <div class="container">
              <div class="row">
                  <ul class="mobile-nav-menu">
                      <li>
                          <a href="#">Sign In</a>
                      </li>
                      <li>
                          <a href="#">Log In</a>
                      </li>
                      <li>
                          <a href="#">Join us</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
    </div>
    <nav class="navbar-top hidden-xs">
      <div class="container">
          <ul>
              <li>
                  <a href="#">로그인</a>
              </li>
              <li>
                  <a href="#">회원가입</a>
              </li>
              <li>
                  <a href="#">사이트맵</a>
              </li>
              <li>
                  <div class="navbar-top-search">
                      <input type="text" placeholder="검색어를 입력하세요"/>
                      <button type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                  </div>
              </li>
          </ul>
      </div>
    </nav>
    <nav class="navbar navbar-default main-middle-nav">
      <div class="container">
          <div class="row">
              <div class="navbar-header">
                  <a class="navbar-brand">
                      <img src="assets/logo.png" alt="직업능력심사평가원"/>
                  </a>
                  <button class="navbar-toggle collapsed" data-toggle="collapse" data-target=".main-top-nav" aria-expanded="false">
                      <span class="sr-only"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
              </div>

              <div class="navbar-collapse main-top-nav collapse" aria-expanded="false">
                  <ul class="nav navbar-nav navbar-right">
                      <li class>
                          <a href="#">제도,법령</a>
                      </li>
                      <li class>
                          <a href="#">심사평가안내</a>
                      </li>
                      <li class>
                          <a href="#">고객센터</a>
                      </li>
                      <li class>
                          <a href="#">기관소개</a>
                      </li>
                      <li class>
                          <a href="#">
                              <img class="nav-main-img" src="assets/gov_logo.png" alt="정부 3.0" />
                          </a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
    </nav>
    <%= yield %>
    <div class="container">
        <div class="row">
            <div class="footer-banner" id="banner-slide">
                <div id="banner-container">
                    <ul>
                        <li>
                            <a>
                                <img src="assets/familySites/1.png" alt="고용노동부" />
                            </a>
                        </li>
                        <li>
                            <a>
                                <img src="assets/familySites/2.png" alt="한국기술교육대학교" />
                            </a>
                        </li>
                        <li>
                            <a>
                                <img src="assets/familySites/3.png" alt="한국산업인력공단" />
                            </a>
                        </li>
                        <li>
                            <a>
                                <img src="assets/familySites/4.png" alt="한국직업능력개발원" />
                            </a>
                        </li>
                        <li>
                            <a>
                                <img src="assets/familySites/5.png" alt="직업능력지식포털" />
                            </a>
                        </li>
                        <li>
                            <a>
                                <img src="assets/familySites/6.png" alt="e-Monitor" />
                            </a>
                        </li>
                        <li>
                            <a>
                                <img src="assets/familySites/7.png" alt="원격훈련심사시스템" />
                            </a>
                        </li>
                        <li>
                            <a>
                                <img src="assets/familySites/1.png" alt="고용노동부" />
                            </a>
                        </li>
                        <li>
                            <a>
                                <img src="assets/familySites/2.png" alt="한국기술교육대학교" />
                            </a>
                        </li>
                        <li>
                            <a>
                                <img src="assets/familySites/3.png" alt="한국산업인력공단" />
                            </a>
                        </li>
                        <li>
                            <a>
                                <img src="assets/familySites/4.png" alt="한국직업능력개발원" />
                            </a>
                        </li>
                        <li>
                            <a>
                                <img src="assets/familySites/5.png" alt="직업능력지식포털" />
                            </a>
                        </li>
                        <li>
                            <a>
                                <img src="assets/familySites/6.png" alt="e-Monitor" />
                            </a>
                        </li>
                        <li>
                            <a>
                                <img src="assets/familySites/7.png" alt="원격훈련심사시스템" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-2 hidden-xs">
                    <a class="footer-brand">
                        <img class="img-responsive" src="assets/footer_logo.png" alt="직업능력심사평가원"/>
                    </a>
                </div>
                <div class="col-md-7 footer-description">
                    <p><a>개인정보취급 방침</a><span class="text-space-30"></span>|<span class="text-space-30"></span><a>이용약관</a></p>
                    <p>(04637)서울특별시 중구 퇴계로 10 메트로타워 12층 직업능력심사평가원 종합민원센터
                        <br>Tel : <a>1644-5113</a><span class="text-space-30"></span>Email : <a>ksqa@koreatech.ac.kr</a></p>
                    <p>Copyright © 2016 Korean Skills Quality Authority. all rights reserved.</p>
                </div>
                <div class="col-md-3 hidden-xs">
                    <div class="footer-dial">
                        <div>
                            <p>종합민원센터 ARS</p>
                            <p style='font-size:20pt'><i class="fa fa-phone" aria-hidden="true"></i> <a>1688-5113</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>
