// app/assets/stylesheets/application.scss


@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


$main-font-size: 12pt;
$mobile-font-size: 12pt;
$main-nav-color: #F1F1F1;
$footer-description-color: #003964;
$footer-font-size: 10pt;
$body-main-back-color: #DADFE6;
$main-color: #4095D0;
$border-color: #5BC0DE;

@mixin aspect-ratio($width, $height) {
    position: relative;
    &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }
    > .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

html, h1, h2, h3, h4, h5, p, li, a {
    font-family: Dotum, '돋움', helvetica;
    word-break: keep-all;
}
a:hover {
    cursor: pointer;
}

.main-middle-nav {
    div {
        div {
            div {
                ul {
                    @extend .text-center;
                    height: 87px;
                    display: block;

                    a {
                        @extend .text-center;
                        padding: 32px;
                        font-size: 12pt;
                        max-height: 87px;
                    }
                    a:hover {
                        color: $border-color !important;
                    }
                }
            }
        }
    }
}

.init-padding {
    padding: 0;
}
.text-center {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.flex-style {
    display: flex;
}

.navbar-header {
    margin-left: 10px;
}
.navbar-brand {
    float: left;
    height: auto;
}
.navbar-main-img {
    height: 12pt;
}
.navbar-default {
    background-color: white;
    margin-bottom: 0px;
}
.navbar-toggle {
    margin-top: 25px;
}
.navbar-top {
    background-color: $main-nav-color;
    height: 40px;

    ul {
        position: relative;
        list-style: none;
        float: right;
        display: flex;
        color: black;
        height: 100%;
        margin: 0;
        padding: 0;

        li {
            color: black;
            margin: 0;

            a {
                @extend .text-center;
                position: relative;
                color: black;
                font-size: 9pt;
                margin: 0;
                padding: 20px;
                max-height: 40px;
            }

            input {
                width: 200px;
                font-size: 8pt;
            }
            button {
                background-color: #4095D0;
                color: white;
                width: 50px;
                border: 0px;
            }
        }
    }
}
.navbar-top-search {
    @extend .text-center;
    display: flex;
    height: 100%;
    padding: 0px;
    margin: 0px;
    margin-left: 10px;

    input {
        height: 30px;
    }
    button {
        height: 30px;
    }
}

.footer-banner {
    @extend .text-center;
    background-color: white;
    padding-right: 10px;
    padding-left: 10px;
    height: 55px;
    width: 100%;

    div {
        width: 100%;
        height: 100% !important;
        position: relative;
        overflow: hidden;

        ul {
            display: flex;
            position: absolute;
            height: 100% !important;
            width: 100%;
            padding: 0;
            margin: 0;
            text-align: center;
            list-style: none;

            li {
                height: 100%;
                min-width: 20%;
                max-width: 20%;

                a {
                    @extend .text-center;
                    padding: 10px;
                    height: 100%;
                    max-height: 56px;
                    text-align: center;

                    img {
                        @extend .img-responsive;
                        min-height: 35px;
                        margin: 0;
                        display: inline !important;
                    }
                }
            }
        }
    }
}
.footer {
    background-color: $footer-description-color;
    min-height: 200px;
    padding-top: 36px;
}
.footer-description {
    font-size: $footer-font-size;
    color: white;
    margin-top: 10px;

    a {
        color: white;
    }
}
.footer-dial {
    margin-top: 10px;
    color: white;
    font-size: 14pt;

    p {
        position: relative;
        float: right;
        max-width: 200px;
    }
    a {
        color: white;
    }
}

.mobile-main-top {
    background-color: black;
    height: 40px;
    overflow: hidden;
}
.mobile-nav-menu {
    float: right;
    list-style-type: none;
    margin-right: 10px;
    top: 50%;
    transform: translateY(50%);

    ul {
        overflow: visible;
    }
    li {
        display: inline;
        list-style: none;

        a {
            margin-right: 20px;
            color: white;
            font-size: $mobile-font-size;
        }
    }
}
.mobile-nav-deco {
    width: 100px;
    height: 100px;
    background-color: grey;
    transform: rotate(30deg);
}
.mobile-nav-top-menu {
    position: relative;

}

.body-main {
    background-color: $body-main-back-color;
    height: auto;
    padding-bottom: 20px;
    padding-top: 20px;
}
.body-large-screen {
    margin-top: 12px;
    @include aspect-ratio(4.31, 3);
}
.body-large {
    display: -webkit-inline-box;
    background-color: white;
    padding: 0;
    margin: 0px;
    width: 100%;
    height: 100%;

    > .back-img {
        @extend .img-responsive;
        background-size: cover;
        background-image: url("main_banner.png");
    }

    ul {
        padding: 15px;

        li {
            list-style: none;
            margin-bottom: 5px;
        }
    }
    div {
        width: 50%;
        height: 100%;

        div {
            width: 100%;
            height: 85%;
            padding:20px;
            padding-top:0px;

            h3 {
                height: 12%;
                display: block;
                font-size: 15pt;
                margin: 0;
            }
            p {
                vertical-align: text-top;
                height: 14%;
                font-size: 8pt;
                margin: 0;
            }
            img {
                width: 100%;
                height: 74%;
            }
        }
    }
}
.body-circle-selector {
    @extend .text-center;
    justify-content: flex-end;
    height: 15% !important;
    width: 100%;
    margin: 0;
    padding: 8px !important;
    padding-right: 18px !important;

    li {
        list-style: none;
        height: auto;
        font-size: 14pt;
        display: flex;
        margin: 0 !important;

        a {
            @extend .text-center;
            padding: 5px;
            max-height: 36px;

            i {
                color: $body-main-back-color;
            }
        }
        a:hover {
            text-decoration: none;
        }
    }

    > .active {
        a {
            i {
                color: $border-color;
            }
        }
    }
}
.body-training-screen {
    @include aspect-ratio(2, 2.71);
}
.body-training {
    background-size: cover;
    background-image: url('banner.png');
    display: block;
    margin: 12px;
    height: 43%;
    padding: 30px;

    p {
        width: 100%;
        margin: 0;
        margin-bottom: 15%;
        font-size: 15pt;
    }
    button {
        background-color: #4095D0;
        font-size: 8pt;
        width: 60px;
        color: white;
        height: 30px;
        border: 0;
    }
}
.body-calling {
    background-color: white;
    margin: 12px;
    margin-bottom: 0;
    height: 57%;

    ul {
        display: inline-block;
        width: 100%;
        margin: 0;

        li {
            list-style: none;

            img {
                display: block;
                height: 100%;
                vertical-align: middle;
                padding-right: 10px;
                padding-top: 20px;
            }
            h4 {
                margin: 0;
                margin-top: 20px;
            }
            a {
                color: $border-color;
                font-size: 20pt;
                padding: 5px;
            }
            i {
                color: $border-color;
                font-size: 10pt;
                font-style: normal;
                font-weight: normal;
            }
            h5 {
                font-size: 10pt;
                font-style: normal;
                font-weight: normal;
                width: auto;
                margin-top: 7px;
                margin-bottom: 5px;

                > .mail {
                    font-size: 1em;
                    width: auto;
                    margin-top: 7px;
                    margin-bottom: 5px;
                    color: black;
                }
            }
        }
    }

    > .content {
        display: flex;
    }
}
.body-examine-screen {
    @include aspect-ratio(2, 2.71);
}
.body-examine {
    background-color: white;
    height: 70%;
    margin: 12px;
    margin-left: 0;

    div {
        padding: 1em;
        height: 21%;
        width: 100%;
        display: inline-block;
        border-bottom: 1px solid #DADFE6;

        h5 {
            float: left;
            position: relative;
            font-size: 12pt;
            padding: 10px;
            padding-left: 15px;
            margin: 0;
        }
        i {
            float: right;
            padding: 10px;
            font-size: 12pt;
        }
        i:hover {
            color: $border-color;
        }
    }
    figure {
        padding: 5px;
        display: block;
        margin-bottom: 0;
        height: 79%;
        padding: 20px;
        padding-bottom: 10px;

        h4 {
            height: 20%;
            padding: 0;
            margin: 0;
            font-size: 12pt;
        }
        p {
            height: 30%;
            font-size: 10pt;
            margin: 0;
        }
        div {
            height: 50%;
            margin: 0;
            display: inline-flex;
            justify-content: center;
            border: 0;

            a {
                @extend .img-rounded;
                width: 33%;
                margin: 5px;
                padding: 8px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 2px solid $border-color;
                color: $border-color;

                p {
                    height: auto;
                    padding: 0;
                    font-size: 7pt;
                    font-style: normal;
                }
            }
            a:hover {
                background-color: $border-color;
                color: white;
                text-decoration: none;
            }
        }
    }
}
.body-contest {
    height: 30%;
    margin-right: 12px;
    background-size: cover;
    background-image: url('banner3.png');
    padding: 3em;
    padding-left: 1em;
    padding-right: 1em;

    h4 {
        height: 100%;
        color: white;
        font-weight: normal;
        font-size: 12pt;
        padding-top: 2em;
        margin: 0;
        text-align: center;
    }
}
.body-menu {
    background-color: white;
    width: 100%;
    margin: 12px;
    margin-bottom: 6px;
    margin-left: 0;
    display: inline-block;

    a {
        padding: 15px;
        text-align: center;
        display: block;

        img {
            padding: 3px;
        }
        p {
            margin: 0;
            padding: 5px;
            font-size: 8pt;
            color: black;
        }
    }
    a:hover {
        background-color: $border-color;
        text-decoration: none;

        p {
            color: white;
        }
    }
}
.body-notice-screen {
    @include aspect-ratio(8, 3);
}
.body-notice {
    background-color: white;
    margin-bottom: 12px;
    display: flex;

    > .first-menu {
        > .active {
            a {
                background-color: $main-color;
                border: 0;
                color: white;
            }
            a:hover {
                color: white;
            }
        }
    }

    ul {
        width: 30%;
        height: 100%;
        padding: 0px;
        list-style: none;
        display: block;

        li {
            display: flex;
            width: 100%;
            height: 20%;
            border: 1px solid $body-main-back-color;
            border-left: 0;
            border-bottom: 0;

            a {
                @extend .text-center;
                justify-content: flex-start;
                position: relative;
                width: 100%;
                padding: 12px;
                font-size: 9pt;
                color: black;
            }
            a:hover {
                text-decoration: none;
                color: $border-color;
            }
            i {
                @extend .text-center;
                justify-content: flex-start;
                text-align: right;
                width: 10%;
                padding-right: 12px;
            }
        }
    }
    div {
        width: 70%;
        display: block;

        ul {
            list-style: none;
            display: flex;
            width: 100%;
            height: 20.5%;
            margin: 0;

            > .active {
                a {
                    background-color: white;
                    color: $border-color;

                    border-bottom: 0;
                }
            }
            li {
                width: 25%;
                height: 100%;

                a {
                    @extend .text-center;
                    text-align: center;
                    width: 100%;
                    height: 100%;
                    border-bottom: 1px solid $body-main-back-color;

                    p {
                        margin: 0;
                        padding: 0;
                        font-size: 10pt;
                    }
                }
            }

            > .last-tab {
                border-right: 0;
            }
        }
        div {
            @extend .text-center;
            width: 100%;
            height: 80%;

            ul {
                height: auto;
                width: 100%;
                display: inline-block;

                li {
                    border: 0;
                    padding: 0;
                    display: block;
                    width: 100%;
                    height: auto;
                    font-size: 9pt;
                    margin: 0;
                    margin-top: 10px;
                    margin-bottom: 10px;

                    a {
                        padding: 0;
                        color: black;
                        border: 0;
                    }
                    a:hover {
                        text-decoration: underline;
                        color: black;
                    }
                }
            }
        }
    }
}
.body-news-screen {
    padding: 12px;
    padding-top: 0;
    height: 100%;
    width: 100%;
}
.body-news {
    background-color: white;
    margin-top: 0;
    height: 100%;
    line-height: 0;

    div {
        @extend .text-center;
        padding: 5px;
        display: inline-block;
        width: 100%;
        height: 20.5%;
        border-bottom: 1px solid $body-main-back-color;

        p {
            @extend .text-center;
            float: left;
            position: relative;
            padding-left: 10px;
            margin: 0;
            height: 100%;
            font-size: 12pt;
        }
        i {
            @extend .text-center;
            float: right;
            padding-right: 10px;
            height: 100%;
            font-size: 15pt;
        }
        i:hover {
            color: $border-color;
        }
    }
    a {
        padding: 15px;
        display: block;
        margin-bottom: 0;
        height: 80%;

        img {
            width: 100%;
            height: 80%;
        }
        p {
            @extend .text-center;
            width:100%;
            height: 20%;
            font-size: 10pt;
            margin: 0;
            color: black;
        }
    }
}
.body-notify-screen {
    @include aspect-ratio(3, 2.45);

    > .content {
        padding-right: 12px;
    }
}
.body-notify {
    background-size: contain;
    background-image: url('banner4.png');
    margin-right: 12px;
    height: 100%;
    display: inline-block;
    padding: 20px;
    width: 100%;

    h4 {
        height: 80%;
        color: white;
        margin: 0;
        font-size: 13pt;
    }
    div {
        @extend .text-center;
        width: 100%;
        height: 20%;
        display: block;

        p {
            text-align: left;
            color: yellow;
            font-size: 9pt;
            margin: 0;
        }
    }
}
.body-xs-link-screen {
        @extend .text-center;
        background-color: white;
        height: 100px;
        width: 100%;
        display: inline-flex !important;
        position: absolute;
}
.body-xs-link {
    text-align: center;
    margin-top: 3px;

    h3 {
        margin: 0;
    }
    p {
        margin: 0;
    }
}

.text-space-10 {
    width: 10px;
    display: inline-block;
}
.text-space-20 {
    width: 20px;
    display: inline-block;
}
.text-space-30 {
    width: 30px;
    display: inline-block;
}

//xs size
@media (max-width: 992px) {
    .container2 {
        height: 324px;
    }
    .main-middle-nav {
        div {
            div {
                div {
                    ul {
                        height: auto;
                        display: block;

                        a {
                            max-height: 50px;
                            padding: 25px;
                        }
                    }
                }
            }
        }
    }
    .footer {
        padding: 10px;
    }
    .body-main {
        padding: 0;
    }
    .body-large-screen {
        margin: 0;
        margin-top: 3px;
    }
    .body-circle-selector {
        padding: 8px !important;
    }
    .body-menu {
        margin-top: 1px;
        margin-bottom: 0;

        div {
            border: 1px solid $body-main-back-color;
            border-bottom: 0;

            a {
                max-height: 106px;

                p {
                    font-size: 10pt;
                }
            }
        }
    }
    .body-examine-screen {
        margin-top: 3px;
        background-color: white;
    }
    .body-examine-screen:before {
        display: inline;
    }
    .body-xs-link-screen {
        display: block;
        position: relative;
    }
    .body-contest {
        margin: 0;
        margin-bottom: 3px;
    }
    .body-notice-screen {
        @include aspect-ratio(8, 4.45);
    }
    .body-notice {
        margin: 0;
        margin-bottom: 5px;

        ul {
            li {
                a {
                    font-size: 5px;
                }
            }
        }
        div {
            div {
                ul {
                    li {
                        a {
                            font-size: 7pt;

                            span {
                                width: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}
//md-size
@media (min-width: 992px) {
    .container2 {
        width: 635px;
        margin: 0;
    }
    .body-large {
        div {
            div {
                h3 {
                    font-size: 18pt;
                }
                p {
                    font-size: 10pt;
                }
            }
        }
    }
    .body-calling {
        padding: 10px;
        padding-left: 20px;

        ul {
            padding-left: 20px;

            li {
                p {
                    font-size: 22pt;
                }
                h5 {
                    font-size: 11pt;
                }
            }
        }
    }
    .body-notice-screen {
        @include aspect-ratio(8, 3.43);
    }
    .body-menu {
        div {
            a {
                border: 0;
                border-bottom: 1px solid $body-main-back-color;
                border-right: 1px solid $body-main-back-color;
            }

            > .third-list {
                border-right: 0;
            }
            > .second-stage {
                border-bottom: 0;
            }
        }
        a {
            padding: 25px;

            p {
                font-size: 12pt;
            }
        }
    }
    .body-notice {
        ul {
            li {
                a {
                    font-size: 6pt;
                }
            }
        }
        div {
            div {
                ul {
                    li {
                        margin-top: 5px;
                        margin-bottom: 5px;

                        a {
                            font-size: 8px;
                        }
                    }
                }
            }
        }
    }
    .body-examine {
        figure {
            div {
                a {
                    p {
                        font-size: 9pt;
                    }
                }
            }
        }
    }
    .body-news {
        div {
            p, i {
                font-size: 10pt;
            }
        }
        a {
            p {
                font-size: 8pt;
            }
        }
    }
    .body-xs-link-screen {
        display: none !important;
    }
}
//lg-size
@media (min-width:1200px) {
    .container2 {
        width: 1158px;
        margin: 0;
    }
    .body-large {
        div {
            div {
                h3 {
                    font-size: 18pt;
                }
                p {
                    font-size: 9pt;
                }
            }
        }
    }
    .body-calling {
        padding: 0;
        padding-left: 10px;
    }
    .body-notice-screen {
        @include aspect-ratio(8, 3.45);
    }
    .body-menu {
        div {
            a {
                border-right: 1px solid $body-main-back-color !important;
            }

            > .last-list {
                border: 0 !important;
            }
        }
    }
    .body-notice {
        ul {
            li {
                a {
                    font-size: 9pt;
                }
            }
        }
        div {
            div {
                ul {
                    li {
                        a {
                            font-size: 10pt;
                        }
                    }
                }
            }
        }
    }
    .body-news {
        div {
            p, i {
                font-size: 12pt;
            }
        }
        a {
            p {
                font-size: 10pt;
            }
        }
    }
}
