<div class="body-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 init-padding">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 body-large-screen init-padding">
                    <div class="content">
                        <div class="body-large">
                            <div class="back-img"></div>
                            <div>
                                <ul class="body-circle-selector" roll="tablist">
                                    <li roll="presentation" class="active">
                                        <a roll="tab" data-toggle="tab">
                                            <i class="fa fa-circle" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a roll="tab" data-toggle="tab">
                                            <i class="fa fa-circle" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a roll="tab" data-toggle="tab">
                                            <i class="fa fa-circle" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                                <div>
                                    <h3>능력중심사회 구현</h3>
                                    <p>공정과 신뢰로 직업능력개발의 미래를 열어갑니다.</p>
                                    <img src="assets/main_info.png" class="img-responsive" alt="main info" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 hidden-xs body-training-screen init-padding">
                    <div class="content">
                        <div class="body-training">
                            <p>훈련기관 인증평가 결과 및 우수기관 조회</p>
                            <button class="img-rounded" type="button">조회하기</button>
                        </div>
                        <div class="body-calling">
                            <ul class="content">
                                <li>
                                    <img src="assets/call_icon.png" alt="call icon" />
                                </li>
                                <li>
                                    <h4>종합민원센터  ARS</h4>
                                    <a>1644-5113</a>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <h5><i>1번</i><span class="text-space-10"></span>훈련기관인증평가센터</h5>
                                </li>
                                <li>
                                    <h5><i>2번</i><span class="text-space-10"></span>집체훈련심사센터</h5>
                                </li>
                                <li>
                                    <h5><i>3번</i><span class="text-space-10"></span>원격훈련심사센터</h5>
                                </li>
                                <li>
                                    <h5><i>4번</i><span class="text-space-10"></span>훈련성과평가센터</h5>
                                </li>
                                <li>
                                    <h5><i>5번</i><span class="text-space-10"></span>부정훈련관리세터</h5>
                                </li>
                                <li>
                                    <h5><i class="fa fa-envelope-o" aria-hidden="true"></i><span class="text-space-10"></span><a class="mail">ksqa@koreatech.ac.kr</a></h5>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-12 body-examine-screen init-padding">
                <div class="body-xs-link-screen visible-xs hidden-md hidden-lg">
                    <div class="body-xs-link">
                        <h3>자주 찾는 서비스 바로가기</h3>
                        <p>공정과 신뢰로 직업능력개분의 미래를 열어갑니다.</p>
                        <p>자주 사용하는 메뉴를 바로가기 아이콘을 통해 확인해 보세요!</p>
                    </div>
                </div>
                <div class="content hidden-xs">
                    <div class="body-examine">
                        <div>
                            <h5>국가훈현 DB 실태조사</h5><i class="fa fa-plus" aria-hidden="true"></i>
                        </div>
                        <figure>
                            <h4>국가 인력양성, 훈련사업 실태조사 DB시스템</h4>
                            <p>국가 인력양성, 훈련사업 이란, 정부 및 지방자치단체에서 정부예산을 사용하여 실시하는 직업능력 개발 사업을 의미합니다.</p>
                            <div>
                                <a href="#">
                                    <p>사업조회</p>
                                </a>
                                <a href="#">
                                    <p>통계조회</p>
                                </a>
                                <a href="#">
                                    <p>DB시스템<br>메뉴얼</p>
                                </a>
                            </div>
                        </figure>
                    </div>
                    <div class="body-contest">
                        <h4>올바른 훈련문화 만들기 공모</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-8 col-xs-12 init-padding">
                <div class=" container container2">
                    <div class="row">
                        <div class="body-menu">
                            <div class="col-lg-2 col-md-4 col-xs-6 init-padding">
                                <a>
                                    <img src="assets/icon/1.png" />
                                    <p>심사평가동영상자료</p>
                                </a>
                            </div>
                            <div class="col-lg-2 col-md-4 col-xs-6 init-padding">
                                <a>
                                    <img src="assets/icon/2.png" />
                                    <p>심사평가메뉴얼</p>
                                </a>
                            </div>
                            <div class="col-lg-2 col-md-4 col-xs-6 init-padding">
                                <a class="third-list">
                                    <img src="assets/icon/3.png" />
                                    <p>참고자료</p>
                                </a>
                            </div>
                            <div class="col-lg-2 col-md-4 col-xs-6 init-padding">
                                <a class="second-stage">
                                    <img src="assets/icon/4.png" />
                                    <p>뉴스레터</p>
                                </a>
                            </div>
                            <div class="col-lg-2 col-md-4 col-xs-6 init-padding">
                                <a class="second-stage">
                                    <img src="assets/icon/5.png" />
                                    <p>기관동향</p>
                                </a>
                            </div>
                            <div class="col-lg-2 col-md-4 col-xs-6 init-padding">
                                <a class="second-stage third-list last-list">
                                    <img src="assets/icon/6.png" />
                                    <p>설문조사</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-8 col-xs-12 flex-style init-padding">
                <div class="col-lg-8 col-md-8 col-xs-12 body-notice-screen init-padding">
                    <div class="content body-notice">
                        <ul roll='tablist' class="first-menu">
                            <li role="presentation" class="active">
                                <a role="tab" data-toggle="tab">
                                    훈련기관인증평가센터
                                </a>
                            </li>
                            <li role="presentation">
                                <a role="tab" data-toggle="tab">
                                    집체훈련심사센터
                                </a>
                            </li>
                            <li role="presentation">
                                <a role="tab" data-toggle="tab">
                                    원격훈련심사센터
                                </a>
                            </li>
                            <li role="presentation">
                                <a role="tab" data-toggle="tab">
                                    훈련성과평가센터
                                </a>
                            </li>
                            <li role="presentation">
                                <a role="tab" data-toggle="tab">
                                    부정훈련관리센터
                                </a>
                            </li>
                        </ul>
                        <div class="tab-contents">
                            <ul roll='tablist'>
                                <li roll="presentation" class="active">
                                    <a role="tab" data-toggle="tab">
                                        <p>공지사항</p>
                                    </a>
                                </li>
                                <li roll="presentation">
                                    <a role="tab" data-toggle="tab">
                                        <p>자료실</p>
                                    </a>
                                </li>
                                <li roll="presentation">
                                    <a role="tab" data-toggle="tab">
                                        <p>Q&A</p>
                                    </a>
                                </li>
                                <li roll="presentation" class="last-tab">
                                    <a role="tab" data-toggle="tab">
                                        <p>FAQ</p>
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <ul>
                                    <li>
                                        <a>[2016년 훈련기관 인증편가] 신규기관 역량강...<span class="text-space-30"></span>2016-07-20</a>
                                    </li>
                                    <li>
                                        <a>[2016년 훈련기관 인증편가] 외국어과정 신청...<span class="text-space-30"></span>2016-07-06</a>
                                    </li>
                                    <li>
                                        <a>[2016년 훈련기관 인증편가] 하반기 신규기관...<span class="text-space-30"></span>2016-07-01</a>
                                    </li>
                                    <li>
                                        <a>[2016년 훈련기관 인증편가] 하반기 신규기관...<span class="text-space-30"></span>2016-06-22</a>
                                    </li>
                                    <li>
                                        <a>[2016년 훈련기관 인증편가] 하반기 신규기관...<span class="text-space-30"></span>2016-06-10</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 hidden-xs init-padding">
                    <div class="body-news-screen">
                        <div class="body-news">
                            <div>
                                <p>심사평가원 뉴스</p><i class="fa fa-plus" aria-hidden="true"></i>
                            </div>
                            <a>
                                <%= image_tag "new_pic.png", class: "img-responsive" %>
                                <p>일반고 특화과정 운영 훈련기관 방문</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 visible-lg body-notify-screen init-padding">
                <div class="content">
                    <div class="body-notify">
                        <h4>정당히<br>배울 수 있는 권리를 위해<br>부정훈련 신고하세요!</h4>
                        <div>
                            <p>부정행위 신고포상금</p>
                            <p>최대 3,000만원</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
